:root {
    --main-text-color: #556052;
    --main-bg-color: #f2efea;
    --secondary-bg-color: #fff;
    --bg-block: #af6b58;
    --bg-border-block: #aa624e;
    --text-green:#7ea04d;
}

*:before,
*:after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
body {
    background-color: var(--main-bg-color);
    color:  var(--main-text-color);
    font-size: 1.8rem;
}
a:hover {
    color: var(--text-green);
}
/* header block ------------- */
header {
    background-color: var(--secondary-bg-color);
    color: inherit;
}
header a {

    color: inherit;
}
.header__title {
    font-size: 3rem;

}
.header__user {
    font-weight: bold;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article__image {
    width: 100%;
    max-height: 18rem !important;
}
.class_active{
  background-color: #007bff;
}
/* Buttons */
.btn-green {
    color: var(--secondary-bg-color);
    background-color: var(--text-green);
}
/* block deco */ 
.block_green {
    border: solid 2px var(--text-green);
    padding: 1rem;
}
/* Home ----------------- */
.home {
    min-height: 35rem;
    font-weight: bold;
}
.home h1{
   color: var(--text-green);
   font-size: 3rem;
}
.home_presentation {
    margin-top: 5rem;
}
.home .btn-green {
    color: var(--secondary-bg-color);
    background-color: var(--text-green);
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.home #descriptions {
    margin-top: 8rem;
}
.home_title {
    display: block;
    border: solid 2px var(--text-green);
    padding: 1rem;
    margin: 0 0 3rem 0;
}
/* Error page */
.error_page {
    min-height: 45rem;
}
.error-template {
    padding: 4rem 1.5rem;
    text-align: center;
    font-size: 2rem;
}
.error-template h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.error-actions {
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
.error-actions .btnError { 
    margin-right:10px; 
}
/* Footer ------------------ */
footer {
    background-color: var(--main-text-color);
    color: var(--secondary-bg-color);
    padding: 4rem;
    margin-top: 4rem;
}
footer h5 {
   font-size: 3rem;
}
footer a {
   color: inherit;
}
footer a:hover {
   text-decoration: none;
   color: inherit;
}

/* list categories */
.list-categories li a, .list-categories li a:hover {
    color: inherit;
}
/* form -------------------- */
.form__login {
    background-color: var(--secondary-bg-color);
    padding: 3.5rem;
    border: solid 2px var(--main-bg-color);
    border-radius: 10px;
}

.credit_image {
    font-size: 1.3rem;
}
.credit_image a{
    color: inherit;
}